name: cypress-tests

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Instalar dependências
        run: npm ci

      - name: Executar testes Cypress (modo headless)
        run: npx cypress run --browser chrome

      - name: Mesclar relatórios JSON (mochawesome)
        run: |
          npx mochawesome-merge cypress/reports/*.json > cypress/reports/report.json

      - name: Gerar relatório HTML (Marge Reporter)
        run: |
          npx marge-reporter cypress/reports/report.json \
            --reportDir cypress/reports/html \
            --reportTitle "Relatório de Testes SauceDemo" \
            --inlineAssets true

      - name: Upload do relatório HTML
        uses: actions/upload-artifact@v4
        with:
          name: mochawesome-report
          path: cypress/reports/html

      - name: Upload dos vídeos dos testes
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos
          path: cypress/videos
